bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
Server/appsettings.json
.vs
.github
/*/obj
/*/bin

/Server/obj
./Server/obj

.vs/
/.vs
./Server/obj/
./Client/obj/
Server/obj/
/Server/obj
