bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
Server/appsettings.json
.vs
.github
/*/obj
/*/bin

/Server/obj
./Server/obj

.vs
Client/obj
Client/bin
Server/obj
Server/bin
Shared/bin
Shared/obj

