.section-header{
    border-bottom: 1px solid grey;
    width: 100%;
}

.orders-container{
    border: 1px solid #cfb685;
    border-radius: 10px;
    background-color: #f5f5ed;
    margin-top: 5px;
    padding: 10px;
}

.container {
    display: flex;
    border-bottom: 1px solid #cfb685;
}

.image-wrapper {
    width: 150px;
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order-details {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-title{
    font-size: 30px;
}

.order-price{
    border-top: 1px solid #cfb685;
    
}