.section-header{
    border-bottom: 1px solid grey;
    width: 100%;
}

.orders-container{
    border: 1px solid #cfb685;
    border-radius: 10px;
    background-color: #f5f5ed;
    margin-top: 5px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cfb685;
}

.order-header{
    width: 30%;
    
}

.order-images{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    margin: 5px;
}

.image-wrapper {
    width: 150px;
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order-details {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.order-price {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-price p{
    margin: 5px;
    color: grey;
}

.order-price p:nth-child(2){
    font-size: 20px;
    color: black;
    font-weight: 600;
}
