@page "/orders"
@using Eshop.Shared.Models.Order
@inject IOrderService OrderService
<h3>Orders</h3>

@if (_orders == null)
{
    <div class="text-center">
        <h3>Loading orders ...</h3>
    </div>
}else if (_orders.Count <= 0)
{
    <div class="text-center">
        <h3>You have no orders</h3>
    </div>
}
else
{
    foreach (var order in _orders)
    {
        <div class="container">
            <div class="image-wrapper">
                <img src="@order.Image" alt="@order.Product"/>
            </div>
            <div class="details">
                <h3>@order.Product</h3>
                <p>@order.OrderDate</p>
                <a href="/orders/order/@order.Id">Show more</a>
            </div>
            <p class="order-price">$@order.TotalPrice</p>
        </div>
    }
}

@code {

    List<OrderDto> _orders = null;

    protected override async Task OnInitializedAsync()
    {
        var response = await OrderService.GetOrders();
        _orders = response;
    }

}