@inject IProductService ProductService
@implements IDisposable

<div class="section-header">
    <h2 class="text-center">Featured products</h2>
</div>
@if (ProductService.Products.Count == 0)
{
    <div class="text-center">
        <h2>@ProductService.Message</h2>
    </div>
}
else
{
    <div class="container">
        @foreach (var product in ProductService.Products.Where(product => product.FeaturedProduct))
        {
            <article class="featured-product">
                <header>
                    <a href="product/@product.Id">
                        <img src="@product.Image" alt="@product.Title image"/>
                    </a>
                </header>
                <div class="featured-product-details">
                    <a href="product/@product.Id">@product.Title</a>
                    @if (product.Variants.Count > 0)
                    {
                        <p class="price">$@product.Variants[0].Price</p>
                    }
                </div>
            </article>
        }
    </div>
}

@code {

    protected override void OnInitialized()
    {
        ProductService.ChangeProducts += StateHasChanged;
    }

    public void Dispose()
    {
        ProductService.ChangeProducts -= StateHasChanged;
    }

}