@inject NavigationManager NavigationManager

<button class="btn btn-outline-primary home-button" @onclick="GoHome">
    E-Shop
</button>

@code {

    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }
}