@using  Eshop.Client.Shared.Cart
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-2">
            <HomeButton/>
            <Searchfield/>
            <UserButton/>
            <CartCounter/>
        </div>

        <div class="nav-menu">
            <NavigationHeader/>
        </div>
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>