@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

@if (_authorized)
{
    <a class="dropdown-item" href="/admin/categories">Categories</a>
    <a class="dropdown-item" href="/admin/product-types">Product types</a>
    <a class="dropdown-item" href="/admin/products">Products</a>
}


@code {
    bool _authorized = false;
    protected override async Task OnInitializedAsync()
    {
        var userRole = (await AuthenticationStateProvider.GetAuthenticationStateAsync())
            .User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role)
            ?.Value;
        if (userRole != null && userRole.Contains("Admin"))
        {
            _authorized = true;
        }
    }
}